@model ScarpaMondo.Models.Articolo

<h2>Crea Nuovo Articolo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezzo)
        @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descrizione)
        <textarea asp-for="Descrizione" class="form-control"></textarea>
        @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ImmagineCopertinaUrl)
        @Html.EditorFor(model => model.ImmagineCopertinaUrl, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImmagineCopertinaUrl, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImmagineAggiuntiva1Url)
        @Html.EditorFor(model => model.ImmagineAggiuntiva1Url, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImmagineAggiuntiva1Url, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImmagineAggiuntiva2Url)
        @Html.EditorFor(model => model.ImmagineAggiuntiva2Url, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ImmagineAggiuntiva2Url, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InVetrina)
        @Html.CheckBoxFor(model => model.InVetrina, new { htmlAttributes = new { @class = "form-check-input" } })
        @Html.ValidationMessageFor(model => model.InVetrina, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Crea</button>
}
